

.contentTitleFrame {
    background-color: transparent;
}

.contentTitle {
    font-size: 20;
    color: dimgray;
    font-style: bold;
    text-align: center;
}

.list {
    background-color: #DBDEFB;
    border-color: white;
}

#mainListCell * {
    background-color: white;
    margin-bottom: 5;
    margin-left: 3;
    margin-right: 3;
    height: 40;
}

.listItemTitle {
    color: #2484FF;
    font-size: 24;
    font-style: bold;
}

.listItemDescr {
    color: #2484FF;
    font-size: 16;
}

.addPageHeaderFrame {
    background-color: transparent;
    border-style: solid;
    border-width: 3;
    border-color: dimgray;
    margin-top: 6;
}

.addPageTitle {
    font-size: 20;
    color: dimgray;
    font-style: bold;
    text-align: center;
}

.addPageDataFrame {
    border-style: solid;
    border-width: 3;
    border-color: dimgray;
}

.addDataLabel{

}


